<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_MetaTags" />
    <title>Best Shop | @ViewBag.Title </title>
    <partial name="_StyleReferences" />
    @RenderSection("Header",false)
</head>

<body>

    <div class="page-wrapper">
        <partial name="_Header" />
        <main class="page-content">
            @RenderBody()
        </main>

    </div>
    <partial name="_Footer" />
    <partial name="_ScriptFooterReferences" />
    @RenderSection("Scripts",false)
</body>

</html>